name: Docker Image CI

on: [push]

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v1
    - name: Build the Docker image Molecule-ci
      run: docker build . --file Dockerfile --tag $GITHUB_REPOSITORY:$(date +%s)
    - name: Docker Login
      uses: Azure/docker-login@v1
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}
    - name: Publish Docker
      uses: elgohr/Publish-Docker-Github-Action@2.9
      with:
        name: $GITHUB_REPOSITORY
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}


        
